

.keynote {
    box-sizing: border-box;
    background-color: rgb(255, 186, 0);;
  }
.head1{
    text-align: center;
    font-weight:bolder;
  }
.row{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.business {
    background-color: #0D2E23;
    color: white;
}
@media only screen and (max-width: 600px) {
    .row{
        grid-template-columns: 1fr;
    }
  }

.imu{
    height: 200px;
    object-fit: cover;
}

#prg{
    font-weight: bolder;
    text-align: center;
}
#pre{ 
    text-align: center;
}
#des{
    text-align: center;
    font-weight: 500;

}

.business {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.busimg{
    height: 100px;
    /* width: 50%; */
    height:max-content

}

.business-btn {
    border-radius: 25px;
    background-color: rgb(255, 186, 0);
    border: 0;
    padding: 0.5rem 1.4rem;
}

.hero{
    background-color: rgb(109, 151, 115);
    color:white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 22px;
}

.mero{
    background-color: rgb(109, 151, 115);
    color:white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-basis: 500px;
    font-size: 22px;
}

